services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file: ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - konnyoeung-network

  frontend:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - konnyoeung-network

networks:
  konnyoeung-network:
    driver: bridge